# MySQL Credentials

DB_CONNECTION=

# Redis Credentials

REDIS_IMAGE=
REDIS_CONNECTION=

# RabbitMQ Settings

RABBITMQ_IMAGE=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VIRTUALHOST=

# JWT Credentials

JWT_ISSUER=
JWT_AUDIENCE=
JWT_SECRET_KEY=
JWT_EXPIRY_SECONDS=

# CORS Urls

TRAINEE_FRONTEND=

# Admin Credentials

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# File Paths

SUBMISSION_FILEPATH=
